@import url('https://fonts.cdnfonts.com/css/eunuch');

nav .title {
  font-family: 'Eunuch', sans-serif;
  letter-spacing: .3rem;
}

nav .active {
  background-color: #eab308;
  color: #171717;
}

@media screen and (min-width: 1024px) and (max-width: 1135px) {
  .mid-none {
    display: none;
  }
}

@media (max-width: 1023px) {
  .nav-container a {
    color: #171717;
  }
}